
body{
	font-family: "Times New Roman", Times, serif; 
    font-size:13px;
	 background:url("images/back2_02.jpg") repeat-x top;
	}

html, body, div, ul, ol, li, h1, h2, h3, p ,span,img{ margin:0; padding:0;  }

.wrapper{width:auto; margin:0px auto;}
.container{
	width:1000px;
	margin:0px auto;
	height:900px;
}
#inner_header{
	width:1000px;
	background-color:white;
	height:100px;
	margin:0px auto;
	border-top:10px solid red;
}
#alignleft{
	float:left;
	padding:10px;   
}
#alignright{
	float:right;
	padding:10px;
 }
#alignright p{
	color:green;
	display:inline-block;
	margin-top:60px;
	padding:10px;
}
.navi{
	 height:43px;	
	 float:left;
	 width:1200px;
 }
 
 ul{
	 display:block;
	 list-style-type:none;
	 
 }
 li a {
	text-decoration:none;
	color:black;
	padding:10px;
	font-size:20px;
	margin-left:40px;
	
}
li a:hover {
    background-color: #FFFFFF;
}
.FooterNavi li a{
	border-right:solid;
	border-right-color:yellow;
	border-right-width: 3px;
	 
}
li:first-child a {color:red;}
a{
	float:left;
}

#banner{
	width:1000px;
	margin:0px auto;
}

#banner img{
	width:1000px;
	margin:0px auto;
	
}
.mainTXT{
	width:1000px;
		margin:0px auto;
}
#leftside{
	width:600px;
	display:inline-block;
	float:left;
	margin-top:50px;
	text-align:justify;
}
 #rightside h2 {
	color:white;
}
 #rightside h2  span{
	color:yellow;
}
h3 #sp1{
	color:yellow;
}
 h3 #sp2{
	color:#38ed0e;
}
#rightside{
	width:300px;
	height:260px;
	background-color:#ed0e0e;
	display:inline-block;
	float:right;
	margin-top:50px;
	padding:10px;
	
}
#rightside img{
	margin-top:20px;
}
#rightside h3{
	float:right;
	width:100px;
	margin-top:10px;
	margin-right:50px;
}
#sp3 h4{
	margin-top:8px;
	float:left;
	width:230px;
}
#sp3 h4 span{
	color:white;
}

footer{
	width:auto;
	margin:auto;
	 height:200px;	
	 background-color:#ed0e0e;
	
}
.FooterContainer{
	width:1000px; 
	margin:20px auto;
	padding:20px;
}
.FooterNavi{
	 width:1200px;
	 
 }
 .FooterNavi li a:hover {
    background-color: orange;
}
 .FooterNavi li:first-child a {color:yellow;}
 
  .FooterNavi li:last-child a {
	  border:none;
	  }
  
  .FooterNavi  li a {
	text-decoration:none;
	padding:10px;
	color:white;
	font-size:20px;
	margin-left:20px;
	margin-top:20px;
	
}
  #p1 h3{
	  text-align:center;
	  line-height:40px;
	  width:1000px;
	  color:white;
  }
  #p1 h3 span{
	  color:yellow;
  }
   #p2 h3{
	  text-align:center;
	  line-height:40px;
	  width:1000px;
	  color:white;
  }